name: Monthly Python run
on:
  schedule:
    - cron: "15 07 03 * *"
  workflow_dispatch: {}

jobs:
  run-script:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/London
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - run: echo '${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}' > service_account.json
      - run: python fetch_incompleteRTT_ICB.py
        env:
          PYTHONUNBUFFERED: "1"
